html
    head
        //- bower:css
        link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.min.css')
        //- endbower
        //- bower:js
        script(src='/lib/jquery/dist/jquery.js')
        //- endbower
        //- inject:css
        
        link(rel="stylesheet", href="/css/styles.css")
        
        //- endinject
        //- inject:js
        
        script(src="/js/app.js")
        
        //- endinject
        title My App
    body(class='myClass')
        h1(id='myId') My App
        p
            h3 sub heading
            ul
                each val in list
                    li= val